<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Website</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>Website</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a class="active" href="" id="home">Home</a>
                </li>
                <li>
                    <a href="/users" id="users">Users</a>
                </li>
            </ul>
        </nav>
        <main class="home">
            <div class="error">
                {{ error }}
            </div>
        </main>
        <footer>
            <small>&copy; 2015 Website. All Rights Reserved.</small>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="js/script.js"></script>
</body>

</html>
